header {
    border: 1px solid black;
    height: 5em;

}

html, body {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-family: 'Baloo Da', cursive;
    top: 5em;
}

header>* {
    display: inline-block;
}

header>h1 {
    border: 1px solid black;
    width: 3%;
    height: 3%;
    font-size: 40px;
}

header>form {
    border: 1px solid black;
    width: 65%;
}

header>navbar {
    border: 1px solid black;
    width: 30%;
    height: 70%;
}

h1 {
    color: rgb(164, 0, 0);
    width: 100px;
    height: 100px;
}

.col {
    float: left;
    width: 19%;
    text-align: center;
    /* border: 1px solid black; */
    margin: .3%;
}

img {
    width: 100%;
    hight: auto;
    border-radius: 6%;
}

#search-input {
    background-color:rgb(209, 209, 209);
    border: none;
    border-radius: 3px;
    width: 70%;
    height: 3em;
}

.box-lupa {
    font-size: 20px;
}
.contenedor-box-lupa{
    float: left;
    width: 5%;
    text-align: center;
    top:40%;
}
.links-bar{
    text-decoration: none;
    color:rgb(209, 209, 209);
    text-align: center;
}

.contenedor-links-bar{
    float: left;
    padding-right: 4%;
    border: 1px solid black;
    text-align: center;
    border-radius: 15%;

}
.contenedor-links-bar:hover{
    top: 10%;
    bottom:10%;
    height: 80%;
    background-color: rgb(235, 235, 235);
}
.contenedor-logo-pinterest{
    width: 3%;
    height: 1em;
}
img:hover{
    opacity: inherit;
}
